@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 7, 138);
}
.content-section{
    background-color: #FFF;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin:1rem;
    
}
h2{
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    color: rgb(73,72,72);

}
.content-section input {
    outline: none;
    border: none;
    margin-bottom: 1.3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(214, 203, 185);
    resize: none;   
}
.commnication-method{
    margin-top: 0.5rem 0 1rem 0;
}
p{
    font-size: 1rem;
    margin-bottom: 5px ;
}
.submit-btn{
    margin:2rem 0 1rem 0;
    background-color: rgb(235,37,83);
    border: none;
    padding:.5rem;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
}













