@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.footer-section{
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color: rgb(32, 30, 30);

}
.footer-section h2{
    margin-bottom: 1rem;
    position: relative;
}
.footer-section h2::after{
    content: '';
    width: 4rem;
    height: .2rem;
    background: #e65b00;
    position: absolute;
    top: 2.5rem;
    left: 0;
}
.footer-section p{
    transition:  all .2s linear;
    margin-bottom: .6rem;

}
a{
    color: white;
   text-decoration: none;
   cursor: pointer;

}
.footer-section a:hover{
    color: #f46d13;
}


.footer-item {
    margin: 1rem;

}
.footer-item ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
}
.footer-item li{
    margin-right: 1rem;

}

.social ul li {

    font-size: 1.2rem;
    cursor: pointer;
    transition: all .2s linear;

}
.social ul li:hover{
    color: #e65b00;
    transform: scale(1.1);
    transition: all .2s linear;

}
@media screen  and (max-width :32px)
{
    .footer-section{
        flex-direction: column ;
        justify-content: flex-start;
        padding-left: 2rem;
    }
}
.fa-brands {
}
.fa-instagram {
}
.fa-linkedin-in {
}
.fa-youtube {
}
.fa-twitter {
}